sentence-transformers
pandas
ipykernel
einops
hf-xet
mteb
google-genai
openai
groq
langchain-text-splitters
beautifulsoup4
langchain-experimental
langchain-huggingface
lancedb
fastapi
uvicorn
streamlit
readability-lxml
selenium
webdriver-manager